@charset "UTF-8";
main{
    text-align: center;
}
#top-text{
    margin: 30px auto;
    text-align: center;
    .top-title{
        font-size: 2rem;
        color: #000;
        font-weight: bold;
        font-family: "Sawarabi Mincho"; 
        @media screen and (min-width:960px){
            font-size: 3.2rem;
        }
        @media screen and (min-width:1280px){
            font-size: 5rem;
        }
    }
    .top-text{
        font-size: 16px;
        color: #395700;
        font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
        @media screen and (min-width:960px){
            font-size: 2.4rem;
        }
        @media screen and (min-width:1280px){
            font-size: 3.2rem;
        }
    }
}
.lp-main {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    margin: 0 auto 5%;
    text-align: center;
}
section {
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 60px;
  }

#fv {
    display: flex;
    flex-flow: wrap;
    height: calc(100vh - 60px);
    @media only screen and (min-width: 960px) {
        justify-content: space-between;
    }
    .swiper {
        @media only screen and (min-width: 960px) {
            width: 64%;
            margin: 0;
        }
      }
    .fv_slide_link_wrap {
        img {
            width: 100%;
            @media only screen and (min-width: 768px) {
                width: 100%;
            }
        }
      }
    .fv_sub_wrap {
        @media only screen and (min-width: 768px) {
            display: flex;
            flex-flow: wrap;
        }
        @media only screen and (min-width: 960px) {
            width: 35%; 
        }
    }
    .sub_link_wrap {
        img {
            width: 100%;
        }
        @media only screen and (min-width: 960px) {
            flex-flow: inherit;
            width: 100%;
        }            
    }

    @mixin img_group_with {
        @media only screen and (min-width: 768px) {
            width: 49.4%;
        }   
        @media only screen and (min-width: 960px) {
            width: 100%;
        }
    }

    .sub_link_wrap01 {
        @media only screen and (min-width: 768px) {
        }
        @media only screen and (min-width: 960px) {
            margin-top: 0;
        }
    }
    .sub_link_wrap02 {
        @media only screen and (min-width: 768px) {
        }
    }
    .sub_link_wrap03 {
        @media only screen and (min-width: 768px) {
            width: 100%;
        } 
    }
    .img_group {
        @media only screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
        @media only screen and (min-width: 960px) {
            flex-flow: inherit;
        }
    }
}
