@charset "UTF-8";
main{
    text-align: center;
    img {
        width: 100%;
    }
}
@mixin p_side {
    padding: o 15px;
}
@mixin ff-jp {
    font-family: "shippori-mincho", "Yu Mincho", "Hiragino Mincho ProN", serif;
    font-weight: 400;
}
@mixin ff-en {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

section {
    box-sizing: border-box;
  }

#fv {
    display: flex;
    flex-flow: wrap;
    @media only screen and (min-width: 960px) {
        justify-content: space-between;
    }
    .swiper {
        @media only screen and (min-width: 960px) {
            width: 64%;
            margin: 0;
        }
      }
    .fv_slide_link_wrap {
        img {
            width: 100%;
            @media only screen and (min-width: 768px) {
                width: 100%;
            }
        }
      }
    .fv_sub_wrap {
        @media only screen and (min-width: 768px) {
            display: flex;
            flex-flow: wrap;
        }
        @media only screen and (min-width: 960px) {
            width: 35%; 
        }
    }
    .sub_link_wrap {
        margin-top: 10px;
        @media only screen and (min-width: 960px) {
            flex-flow: inherit;
            width: 100%;
        }            
    }
    .sub_link_wrap01 {
        @media only screen and (min-width: 768px) {
        }
        @media only screen and (min-width: 960px) {
            margin-top: 0;
        }
    }
    .sub_link_wrap02 {
        @media only screen and (min-width: 768px) {
        }
    }
    .sub_link_wrap03 {
        @media only screen and (min-width: 768px) {
            width: 100%;
        } 
    }
    .img_group {
        @media only screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
        @media only screen and (min-width: 960px) {
            flex-flow: inherit;
        }
    }

}

.sub_link_wrap {
    position: relative;
    .fv_subLink_wrap {
        h3 {
            @include ff-jp();
            position: absolute;
            color: #fff;
            font-size: 2rem;
            width: max-content;
            top: 20px;
            left: 20px;
        }
    }
    .under_box {
        span {
            position: absolute;
            bottom: 20px;
            left: 20px;
            font-size: 1.6rem;
            color: #fff;
          }
          
    }
}
.img_box {
    background-color: #000;
}


.sub_content_ttl {
    background-color: #0B5300;
    color: #fff;
    padding: 15px;
    margin-top: 50px;
    .en {
        @include ff-en();
        font-size: 2rem;
        color: #fff;
      }
      .jp {
        @include ff-jp();
        font-size: 1.3rem;
        color: #fff;
      }
  }

.beverage {
  margin: 30px 15px 0;
  position: relative;
    
    p {
        text-align: left;
        font-size: 1.3rem;
        margin: 0 0 10px 15px;
    }
}
.img_wrap {
        position: relative;
        .sub_head {
            position: absolute;
            top: 20px;
            left: 20px;
            padding: 10px 15px;
            background-color: #0B5300;
            font-size: 1.3rem;
            color: #fff;
        }
}